@model SutunMemtext

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thanks</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>


     <div class="container m-4">
            <div class="card mx-auto" style="width:500px;">
                <div class="card-header">
                    Merhaba, @Model.ModelistVeArgeci
                </div>
                <div class="card-body">
                     
                        <h1>Görev başarıyla eklendi.</h1>
                        Diğer görevleri <a asp-action="List"> görüntüle.</a>
                       
                </div>
            </div>
    </div>

</body>
</html>
