@model Student
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body class="text-center">
    <h2>Teşekkürler , @Model.Name</h2>
    <hr />
    @if (Model.WillAttend == true)
    {
        @:Kursa katılmış olduğundan dolayı çok mutlu olduk.
    }
    else
    {
        @:Kursa katılmadığından dolayı üzüldük.
    }

    Kursa katılanları <a asp-action="List" class="nav-link">liste.</a>

</body>
</html>
