@model IEnumerable<Student>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
                <td>Confirm</td>

            </tr>
        </thead>
        <tbody>
                @foreach (var student in Model)
                {
                  <tr>
                      <td>@student.Name</td>
                      <td>@student.Email</td>
                      <td>@student.Phone</td>
                      <td>@student.Confirm</td>
                  </tr>  
                }
        </tbody>
    </table>




</body>
</html>