@model Student

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thanks</title>
</head>
<body>
    <h2>Merhaba, @Model.Name</h2>
    <hr>
    @if(Model.Confirm==true){
        <span>
            Kursa katılmış olduğunuz için teşekkür ederiz.
           <div>
               Diğer katılımcıları görüntüle <a asp-action="List"> görüntüle.</a>
           </div> 
        </span>
    }else {
        <span>
            Üzüldük. Umarım fikriniz değişir.
        </span>
    }
</body>
</html>